<!DOCTYPE html>
<html>
<head>
  <title>SfdcBulk</title>
  <%= stylesheet_link_tag    "sfdc_bulk/application", media: "all" %>
  <%= javascript_include_tag "sfdc_bulk/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
